
.header-container {
    background: #FFFFFF;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
}

.header-logo {
    &__img{
        width: 149px;
        height: 37px;
    }
}

.menu-container {
    display: flex;
    align-items: center;
    column-gap: 73px;
    height: 100%;
    .menu-item {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 10px;
        &--selected {
            border-bottom: solid #FF5A70 6px;
        }
        &__icon {

        }
        &__label {
            font-weight: 700;
            font-size: 18px;
            color: #898989;
            &--selected {
                color: #FF5A70;
            }
        }
    }
}

.header-divider {
    width: 0px;
    height: 45px;
    left: 1241px;
    top: 32px;
    border: 1px solid #C4C4C4;
}

.header-user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 136px;
    &__divider {
        width: 0px;
        height: 45px;
        left: 1241px;
        top: 32px;
        border: 1px solid #C4C4C4;
        margin-right: 40px;
    }
}