<div class="header-container">
    <div class="header-logo">
        <img class="header-logo__img" src="../../assets/imagenes/logo.svg" alt="onTopLog">
    </div>
    <div class="menu-container">
        <div class="menu-item menu-item--selected">
            <img class="menu-item__icon" src="../../assets/imagenes/person.svg" alt="person">
            <span class="menu-item__label menu-item__label--selected">Contracts</span>
            <img class="menu-item__icon" src="../../assets/imagenes/arrow_down_active.svg" alt="arrow_down">
        </div>
        <div class="menu-item">
            <img class="menu-item__icon" src="../../assets/imagenes/document.svg" alt="document">
            <span class="menu-item__label">Documents</span>
            <img class="menu-item__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
        </div>
        <div class="menu-item">
            <img class="menu-item__icon" src="../../assets/imagenes/payout.svg" alt="payout">
            <span class="menu-item__label">Payout</span>
            <img class="menu-item__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
        </div>
        <div class="menu-item">
            <img class="menu-item__icon" src="../../assets/imagenes/calendar.svg" alt="calendar">
            <span class="menu-item__label">Time</span>
            <img class="menu-item__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
        </div>
    </div>
    <div class="header-user-profile">
        <div class="header-user-profile__divider"></div>
        <img class="header-user-profile__icon" src="../../assets/imagenes/user-1.jpg" alt="profile">
        <img class="header-user-profile__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
    </div>
    <div class="burguer-menu">
        <img class="burguer-menu__item" src="../../assets/imagenes/mobile_menu_item.svg">
        <img class="burguer-menu__item" src="../../assets/imagenes/mobile_menu_item.svg">
        <img class="burguer-menu__item" src="../../assets/imagenes/mobile_menu_item.svg">
    </div>
</div>
