<div class="client-title">
    <span class="client-title__label">
        Contracts of Client
    </span>
</div>
<div class="search-container">
    <div class="search-container-search">
        <img class="search-container-search__first-icon" src="../../assets/imagenes/search.svg" alt="search">
        <input class="search-container__search-input" type="text" name="search" placeholder="Search">
    </div>
    <div class="search-container-buttons">
        <button class="search-container__settings-button"><span>Filter</span></button>
        <button class="search-container__new-hire-button">+ New Hire</button>
    </div>
</div>
<div class="filter-container">
    <div class="filter-container-item">
        <img class="filter-container-item__first-icon" src="../../assets/imagenes/calendar.svg" alt="arrow_down">
        <input class="filter-container-item__input filter-container-item__input--date" type="text" name="createdOn"
            placeholder="Create on: Jan/10/21 - Jan/28/21">
        <img class="filter-container-item__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
    </div>
    <div class="filter-container-item">
        <input class="filter-container-item__input filter-container-item__input--type" type="text" name="contractType"
            placeholder="Contract type">
        <img class="filter-container-item__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
    </div>
    <div class="filter-container-item">
        <input class="filter-container-item__input filter-container-item__input--name" type="text" name="contractorName"
            placeholder="Contractor Name">
    </div>
    <div class="filter-container-item">
        <input class="filter-container-item__input filter-container-item__input--status" type="text" name="status"
            placeholder="Status">
        <img class="filter-container-item__icon" src="../../assets/imagenes/arrow_down.svg" alt="arrow_down">
    </div>
</div>
