.contracts-container {
    width: 1120px;
    height: 445px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 20px;
    padding: 31px 12px 31px 12px;
}
.table-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    &__title {
        width: 160px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        &--large {
            width: 220px; 
        }
    }
}

.table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    height: 90px;
    background: #F9F9F9;
    position: inherit;
    &__value {
        width: 160px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #3B3B3B;
        position: relative;
        &--large {
            width: 220px; 
        }
        &--card {
            width: 50%;
        }
    }
    &-name {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        width: 220px;
        &__value {
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #3B3B3B;
        }
    }
}

.table-row-actions-container {
    width: 128px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    padding: 13px 16px 13px 16px;
    z-index: 10;
    .action-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        column-gap: 10.99px;
        margin-bottom: 15px;
        cursor: pointer;
    
        &__icon {

        }
        &__label {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #3B3B3B;
        }
    }

    .action-divider {
        width: 136px;
        height: 0px;
        border: 1px solid #EBEBEB;
        margin-bottom: 6px;
    }
}

.ellipse {
    cursor: pointer;
}

.status-field {
    width: 162px;
    height: 24px;
    border-radius: 20px;
    &--active {
        background-color: rgba(54, 207, 130, 0.18);
    }
    &--card {
        text-align: left;
        width: 112px;
    }
    &--pending {
        background-color: rgba(242, 157, 66, 0.3);
    }

    &__label--active {
        color: #36CF82;
        font-weight: 700;
    }
    &__label--card {
        margin-left: 10px;
    }

    &__label--pending {
        color: #F29D42;
        font-weight: 700;
    }
}

.contracts-card-container{
    display: none;
    flex-direction: column;
    row-gap: 21px;
    .contract-card {
        min-width: 330px;
        height: 217px;
        background: #FFFFFF;
        mix-blend-mode: normal;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        flex-direction: column;
        padding: 10px 13px 10px 13px;

        .contract-row {
            padding: 9px 20px 9px 20px;
            display: flex;
            height: 19px;
            &--gray-bg {
                background: #F9F9F9;
            }

            &__label {
                font-weight: 700;
                font-size: 12px;
                color: #000000;
                width: 50%;
            }
            &__value {
                font-weight: 400;
                font-size: 12px;
                color: #3B3B3B;
                width: 50%;
            }
        }
    }
}

@media (max-width: 768px) {
    .contracts-container {
        display: none;
    }
    .contracts-card-container {
        display: flex;
    }
}