<div class="contracts-container">
    <div class="table-header">
        <div class="table-header__title table-header__title--large">
            Contractor Name
        </div>
        <div class="table-header__title">
            type
        </div>
        <div class="table-header__title">
            Start Date
        </div>
        <div class="table-header__title">
            Amount
        </div>
        <div class="table-header__title table-header__large">
            Status
        </div>
        <div class="table-header__title">
            Actions
        </div>
    </div>
    <div class="table-row">
        <div class="table-row-name">
            <img src="../../assets/imagenes/user-2.jpg" alt="user">
            <span class="table-row-name__value">Darlene Robertson</span>
        </div>
        <div class="table-row__value">
            Traditional
        </div>
        <div class="table-row__value">
            Mar 4, 2021
        </div>
        <div class="table-row__value">
            $200 USD
        </div>
        <div class="table-row__value table-row__value">
            <div class="status-field status-field--active">
                <span class="status-field__label--active">active</span>
            </div>
        </div>
        <div class="table-row__value">
            <img class="ellipse" src="../../assets/imagenes/ellipse.svg" alt="actions">
            <div class="table-row-actions-container">
                <div class="action-item">
                    <img class="action-item__icon" src="../../assets/imagenes/edit.svg" alt="edit">
                    <label class="action-item__label">Edit</label>
                </div>
                <div class="action-divider"></div>
                <div class="action-item">
                    <img class="action-item__icon" src="../../assets/imagenes/sign.svg" alt="sign">
                    <label class="action-item__label">Sign</label>
                </div>
                <div class="action-divider"></div>
                <div class="action-item">
                    <img class="action-item__icon" src="../../assets/imagenes/document.svg" alt="view">
                    <label class="action-item__label">View summary</label>
                </div>
                <div class="action-divider"></div>
                <div class="action-item">
                    <img class="action-item__icon" src="../../assets/imagenes/delete.svg" alt="delete">
                    <label class="action-item__label">Delete</label>
                </div>
            </div>
        </div>
    </div>
    <div class="table-row">
        <div class="table-row-name">
            <img src="../../assets/imagenes/user-2.jpg" alt="user">
            <span class="table-row-name__value">Darlene Robertson</span>
        </div>
        <div class="table-row__value">
            Traditional
        </div>
        <div class="table-row__value">
            Mar 4, 2021
        </div>
        <div class="table-row__value">
            $200 USD
        </div>
        <div class="table-row__value table-row__value">
            <div class="status-field status-field--active">
                <span class="status-field__label--active">active</span>
            </div>
        </div>
        <div class="table-row__value">
            <img class="ellipse" src="../../assets/imagenes/ellipse.svg" alt="actions">
        </div>
    </div>
    <div class="table-row">
        <div class="table-row-name">
            <img src="../../assets/imagenes/user-2.jpg" alt="user">
            <span class="table-row-name__value">Darlene Robertson</span>
        </div>
        <div class="table-row__value">
            Traditional
        </div>
        <div class="table-row__value">
            Mar 4, 2021
        </div>
        <div class="table-row__value">
            $200 USD
        </div>
        <div class="table-row__value table-row__value">
            <div class="status-field status-field--pending">
                <span class="status-field__label--pending">Signature Pending</span>
            </div>
        </div>
        <div class="table-row__value">
            <img class="ellipse" src="../../assets/imagenes/ellipse.svg" alt="actions">
        </div>
    </div>
</div>
